{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "register-area">
        <h2 class="login-register-text">Login with Google</h2>

        <form action="/loginRegister" method="POST">
            <!-- the registration form goes here -->
            <p>
                <button type="submit">Login with Google</button>
            </p>
        </form>
    </section>
</section>